<!-- Header -->
<header class="{{page.headerClass}}">
  <div class="header-b clearfix">
    <div class="header-lt">
      <div class="site-logo">
        <a class="gray" href="./"><img src="./img/logo_white.svg" alt="MaidSafe Logo" /></a>
        <a class="original" href="./"><img src="./img/logo_colour.svg" alt="MaidSafe Logo" /></a>
      </div>
    </div>
    <div class="header-rt">
      <div class="primary-nav">
        <ul class="primary-nav-b clearfix">
          <li class="link-btn"><a class="al-btn {{page.headerClass}}" href="#">Alpha Release</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Safecoin</a></li>
          <li><a href="#">Company</a></li>
          <li class="nav-dropdown" id="navDropdown">
            <a href="#">More</a>
            <a class="show-on-mob" href="#">Menu</a>
            <ul class="nav-dropdown-b">
              <li class="show-on-mob"><a href="#">Alpha Release</a></li>
              <li class="show-on-mob"><a href="#">Features</a></li>
              <li class="show-on-mob"><a href="#">Safecoin</a></li>
              <li class="show-on-mob"><a href="#">Company</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Roadmap</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!-- /Header -->
